<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por destino" v-model="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @click="searchDestino">
          Buscar
        </button>
        <button class="btn btn-outline-secondary" type="button" @click="refreshList">
          Reset List
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Vuelos de AirEuropa</h4>
    <ul class="list-group">
      <li class="list-group-item" :class="{ active: index == currentIndex }" v-for="(vuelo, index) in vuelos"
        :key="index" @click="setActiveVuelo(vuelo, index)">
        {{ vuelo.Origen +" a "+ vuelo.Destino}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div v-if="currentVuelo">
      <h4>Vuelo</h4>
      <div>
        <label><strong>idVuelo:</strong></label> {{ currentVuelo.IdVuelo }}
      </div>
      <div>
        <label><strong>Origen:</strong></label> {{ currentVuelo.Origen }}
      </div>
      <div>
        <label><strong>Destino:</strong></label> {{ currentVuelo.Destino }}
      </div>
      <div>
        <label><strong>Precio:</strong></label> {{ currentVuelo.Precio+" €" }}
      </div>
      <div>
        <label><strong>Plazas Disponibles:</strong></label> {{ currentVuelo.plazas }}
      </div>

      <a class="badge badge-warning btn btn-secondary" :href="'/vuelos/fecha/origen/' + currentVuelo.IdVuelo">
        Ir a reservar plaza de vuelo
      </a>
    </div>
    <div v-else>
      <br />
      <p>Por favor pinche en algun vuelo de la lista, para ver la informacion.</p>
    </div>
  </div>
</div>